// src/styles/_variables.scss
$primary-color: #3498db;
$secondary-color: #2ecc71;
$background-color: #ffffff;
$link-color:  #ffffff;
$h1-color:  #ffffff;
$text-color: #ffffff;
$navbar-bg:  #7cc39950;


$font-size-base: 1rem;
